<% include layout %>
<br>
<br>
<br>
<br>
<body class="grey lighten-2">
    <div class="valign-wrapper" id="login-page">
        <div class="container">
            <div class="center-align">
                <div class="row">
                    <div class="col s6 offset-s4">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" style="max-width:64px" src="../images/SoftMeen.png" />
                                <div class="left-align">
                                    <form action="/autenticar" method="post">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input name="nick" id="nick" type="text" class="form-control">
                                                <label for="password">Usuario</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input name="contrasena" id="contrasena" type="password" class="form-control" required >
                                                <label for="password">Password</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="btn-group">
                                                <button class="waves-effect waves-light btn-large" type="submit" >
                                                    Ingresar

                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<% include footer %>