<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Control de Colegio</title>
    <link rel="stylesheet" href="/stylesheets/materialize-css/dist/css/materialize.css">
     <link rel="stylesheet" href="/stylesheets/materialize-css/dist/css/materialize.min.css">
</head>
<body>
    <nav class="nav-extended" style="background:#26a69a">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="/images/SoftMeen.png" width="85" height="55" /></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="../autenticar">LogIn</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
</body>

</html>